<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /lms/
    # Skip rewriting for existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Redirect all requests to index.html
    RewriteRule . /lms/index.html [L]
  </IfModule>