.containerBox{
    height: 100vh;
    width: 100%;
    font-size: 14pt  !important;
    font-family: 'aptos';


  }

  .loginPage {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }
  
  input[type=text],input[type=password],input[type=button],input[type=email],input[type=submit]{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  
  input[type=button],input[type=submit]{
    background-color: rgba(255, 68, 0, 0.727);
    color: white;
    
  }

.loginBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 300px;
  margin: 20px;

}
.containerBox{
    height: 100vh;
    overflow: hidden;    

}

.loginPageImage{
  background-color: gray;
  background-image: url('../../img/Login_img/cc1ca0955a.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1 1 300px;
  margin: 20px;
  border-radius: 10px;
}

@media screen and (max-width : 780px) {
  .loginPageImage {
    display: none;
}

.loginPage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/Login_img/cc1ca0955a.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.loginBox {
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
}

input[type=text],input[type=password],input[type=button]{
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
}

.LoginForm{
    /* background: yellow; */
    text-align: center;
    /* padding: 10%;
    padding-top: 25% !important; */
    margin: auto;
}
.loginPage{
    height: 100%;
    width: auto;
}

.inputspace{
    margin-top: 5% !important;
    /* min-width: 250px; */
}

span{
    /* font-size: 16pt  !important; */
    /* font-size: 16pt  ; */
}


.bigb{
    /* background: linear-gradient(45deg, black, orange); */
    /* background-image: url('./../../assets/images/8658.jpg'); */
    background-color: rgba(179, 177, 177, 0.24);
    /* background: linear-gradient(45deg, white, orange); */
    /* background-image: linear-gradient(to right top, orange, white, orange); */
    
    /* background-size: cover; */
    /* padding: 5% !important; */
    display: flex;
}


.row{
    /* margin: 0%!important; */
    padding: 0%;
    width: 100%;
    margin: 0;
    /* height: 100%; */
}

.lms-button {
    /* background-color: #eee; */
    font-weight: bold;
    background-color: orange;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    /* font-size: 1.2rem; */
    padding: 0.5rem !important;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    word-break: break-word;
  }

.lms-login-input-box{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: solid 1px black !important;
    background-color: transparent;
    text-align: center;
    height: 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin:auto;

  }

  .lms-login-input-box:focus, .lms-login-input-box:active, .lms-login-input-box:hover {
    /* border-top: none !important;
    border-right: none !important;
    border-left: none !important; */
    outline: none !important;
    border-bottom: solid  1.5px black !important;
    background-color: rgba(187, 187, 187, 0.267);
  }

  .lms-button:hover {
    background-color: black;
    color: orange;
  }
  .lms-button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  .lms-login-input-box{
    margin-top: 10px;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: solid 1px black !important;
    background-color: transparent;
    text-align: center;
    height: 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

  }

  .lms-form-input-box{
    /* border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: solid 1px black !important;
    background-color: transparent;
    text-align: center;
    height: 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; */

    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border: solid 1px #bdbcbc !important;
    background-color: transparent;
    text-align: center;
    height: 40px;
    border-radius: 3px;
    /* height: 100%; */

  }

  .lms-form-input-box:focus, .lms-form-input-box:active, .lms-form-input-box:hover {
    /* border-top: none !important;
    border-right: none !important;
    border-left: none !important; */
    outline: none !important;
    border-bottom: solid  1.5px black !important;
    background-color: rgba(187, 187, 187, 0.096);
  }

/* .smallb{
    
    width:100%  !important;
    height:100%  !important;
    margin: auto;
   
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */